.idea/
out/
.idea_modules/
cmake-build-*/
$RECYCLE.BIN/
.gradle/
build/
**/build/
*.iml
*.ipr
*.iws
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
modules.xml
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
*.lnk
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
